<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CAcert_CSR.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Dieser Abschnitt definiert die Protokollierungskonfiguration für My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog" />
                    <!-- Auskommentierung des nachfolgenden Abschnitts aufheben, um in das Anwendungsereignisprotokoll zu schreiben -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
            <!-- Auskommentierung des nachfolgenden Abschnitts aufheben und APPLICATION_NAME durch den Namen der Anwendung ersetzen, um in das Anwendungsereignisprotokoll zu schreiben -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <CAcert_CSR.My.MySettings>
            <setting name="ssl" serializeAs="String">
                <value>C:\OpenSSL-Win64</value>
            </setting>
            <setting name="Country" serializeAs="String">
                <value>AT</value>
            </setting>
            <setting name="State" serializeAs="String">
                <value />
            </setting>
            <setting name="City" serializeAs="String">
                <value />
            </setting>
            <setting name="Org" serializeAs="String">
                <value />
            </setting>
            <setting name="Dep" serializeAs="String">
                <value />
            </setting>
            <setting name="Mail" serializeAs="String">
                <value />
            </setting>
            <setting name="Street1" serializeAs="String">
                <value />
            </setting>
            <setting name="Street2" serializeAs="String">
                <value />
            </setting>
            <setting name="Street3" serializeAs="String">
                <value />
            </setting>
            <setting name="Postal" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value>testpw</value>
            </setting>
            <setting name="firstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="usrClient" serializeAs="String">
                <value>/account.php?id=3</value>
            </setting>
            <setting name="orgClient" serializeAs="String">
                <value>/account.php?id=16</value>
            </setting>
            <setting name="usrServer" serializeAs="String">
                <value>/account.php?id=10</value>
            </setting>
            <setting name="orgServer" serializeAs="String">
                <value>/account.php?id=20</value>
            </setting>
            <setting name="actPage" serializeAs="String">
                <value>/account.php?id=3</value>
            </setting>
            <setting name="accLogout" serializeAs="String">
                <value>/account.php?id=logout</value>
            </setting>
            <setting name="accTyp" serializeAs="String">
                <value>Pass</value>
            </setting>
            <setting name="prodPassServer" serializeAs="String">
                <value>http://www.cacert.org</value>
            </setting>
            <setting name="prodCertServer" serializeAs="String">
                <value>https://secure.cacert.org</value>
            </setting>
            <setting name="testPassServer" serializeAs="String">
                <value>http://cacert1.it-sls.de</value>
            </setting>
            <setting name="testCertServer" serializeAs="String">
                <value>http://cacert1.it-sls.de</value>
            </setting>
            <setting name="accLogin" serializeAs="String">
                <value>/index.php?id=4</value>
            </setting>
            <setting name="accServer" serializeAs="String">
                <value>prod</value>
            </setting>
            <setting name="actServer" serializeAs="String">
                <value>http://www.cacert.org</value>
            </setting>
            <setting name="certPass" serializeAs="String">
                <value>testpw</value>
            </setting>
            <setting name="DataDir" serializeAs="String">
                <value>\Andreas_Terpotiz</value>
            </setting>
        </CAcert_CSR.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
